body {
  font-family:'Muli', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

P {
  color: #8e8e8e;
}

back {
  background-image: marquees image.jpg;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 200px;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue',
              helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}
/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 7% 2%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #434343;
  color: #fff;
  background-color: #434343;
}

.white-section {
  <"images/trafalgar-marquees.png">;
    ;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
font-size: 1.2rem;
font-family: 'Muli', sans-serif;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  position: relative;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 120%;
  transform: rotate(0deg);
  position: absolute;
  left: 550px;
  top: 60px;
  bottom: 550px;
}

/* Feature Sessions */

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Sessions */
#testimonials {
  background-color: #43434377;
}

.testimonial-text {
font-size: 3rem;
line-height: 1.5;
}


.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}

#press {
background-color: #43434377;
padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
  position: static;
  transform: rotate(0);
  }
}
